*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgba(255, 0, 0, 0.1); */
}
#main-grid{
    margin: auto;
    margin-top: 20px;
    border: 1px solid black;
    width: 700px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    background-image: url("../media/sfondo.png");
    background-size: cover;
}
.cell{
    /* border: solid 1px gray; */
    width: 5%;
    height: 5%;
}
.starship{
    /* background-color: red; */
    background-image: url("../media/spaceship.png");
    background-position: center;
    background-size: cover;
}
.bullet{
    background-image: url("../media/bullet.png");
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}
.enemy{
    background-image: url("../media/ufo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}
.info{
    text-align: center;
    margin-top: 10px;
}
.scoreContainer{
    text-align: center;
}
.d-none{
    display: none;
}